.home-container {
  /* usa ranger.png como background */
  background-image: url('/img/ranger.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 99vh; /* ocupa toda a altura da tela */
  width: 100%;
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* centraliza vertical */
  position: relative;
}

/* O CARD (A caixa de aviso como um todo) */
.content-box {
  width: 36%;
  height: 31%;
  width: 40%;
  height: 40%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 1. O HEADER (A PARTE "ESCURA") */
.content-header {
  /* Um azul escuro, cor corporativa (ex: azul Ford) */
  background-color: #8a93a0;
  padding: 18px 18px;
  text-align: start;
  border-bottom: 2px solid #002855;
  font-family: var(--font-principal);
}

.content-header h2 {
  color: #FFFFFF; /* Texto BRANCO */
  font-weight: 600;
  margin: 0; /* Remove as margens padrão */
  font-size: 1.5rem;
}

/* 2. O BODY (A PARTE "BRANQUINHA") */
.content-body {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 145px 30px; /* Mais espaço vertical */
  text-align: center;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  font-family: var(--font-principal);
}

.welcome {
  color: var(--cor-secundaria); /* Azul mais vivo para o texto de boas-vindas */
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

/* Ícone do menu */
.ph-list {
  font-size: 2.5rem; /* aumenta o tamanho */
  color: var(--cor-primaria);    /* azul Ford */
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.menu-icon {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 16px;
  color: var(--cor-primaria);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 2px 0 6px rgba(58, 59, 66, 0.4);
  animation: slideIn 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  transition: background 0.2s;
}

.sidebar li:hover {
  background-color: #1d4ed8;
}

/* Animação */
@keyframes slideIn {
  from {
    transform: translateX(-220px);
  }
  to {
    transform: translateX(0);
  }
}

.content-box {
  margin-top: 60px;
}
