<link
  rel="stylesheet"
  href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css"
/>

<!-- Ícone do menu -->
<i class="ph ph-list menu-icon" (click)="toggleMenu()"></i>

<!-- Sidebar -->
<div class="sidebar" *ngIf="menuAberto">
  <ul>
    <li (click)="irParaHome()"> Home</li>
    <li (click)="irParaDashboard()"> Dashboard</li>
  </ul>
</div>

<!-- Conteúdo principal -->
<div class="home-container">
  <div class="content-box">
    <div class="content-header">
      <h2>Sistema de dados FORD</h2>
    </div>

    <div class="content-body">
      <p class="welcome">Seja bem-vindo(a)!</p>
    </div>
  </div>
</div>

